# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Doxygen
*~
.*sw?
\#*
.DS_Store

*.rej
*.orig

*.pro
/packages/rpm/doxygen.spec
*.idb
*.pdb

/doxygen_docs
/doxygen.tag
/build*
/latex
/html

.idea

# Workspace 
*.code-workspace
.vscode

# Output Folder
build/